.empty {
  width: 100%;
  height: 100vh;
}

.empty_list {
  display: grid;
  justify-items: center;
  padding-top: 2rem;
}

.empty_List img {
  width: 200px;
}

.empty_title {
  text-align: center;
}

.empty_title h1 {
  margin-bottom: 0.3rem;
}

.empty button {
  width: 150px;
  margin-top: 1rem;
  background: #7c5dfa;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: bold;
}

@media screen and (min-width: 700px) {
  .empty_list img {
    width: 400px;
  }
}
